node_modules
.nitro
.nuxt
.env
.DS_Store
npm-debug.log*
pnpm-lock.yaml
yarn.lock
Components.md
Composables.md
Domain.md
alleDateien.md
StepCell.md
StepGrid.md
dist
ROADMAP.md
nimamk3.json
uiList.json
functionsList.json
maschinemk3.jpg