@import 'variables.less';

html,
body,
#app,
.v-application {
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.v-application {
  background-color: @background !important;
}
